body {
	margin: 0;
	text-align: center;
	font-family: sans-serif;

}

a:link {
	text-decoration: none;
	color: gray;
}

.one {
	float: left;
	margin: 1px;
	border-radius: 4px;
}

.oneDisplay {
	margin: 20px 6px 20px 6px;
	padding: 8px;
	float: left;
	border-radius: 5px;
	min-width: 50px;
	text-align: center;
	border: 4px solid;
}


.oneDisplay span {
	font-size: 15px;
}

.oneDisplay em {
	margin: 2px;
	font-size: 20px;
}

/*红色的闪烁的动画效果*/
@keyframes error {
	0% {
		background-color: #ffffff
	}
	100% {
		background-color: #f06666
	}
}

@-webkit-keyframes error {
	0% {
		background-color: #ffffff
	}
	100% {
		background-color: #f06666
	}
}

.error {
	animation-name: error;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	-webkit-animation-name: error;
	-webkit-animation-duration: 1s;
	-webkit-animation-iteration-count: infinite;
}

#gameOver {
	color: #23d10f;
	margin: 6px;
	padding: 8px;
	border: 4px solid #23d10f;
	border-radius: 5px;
	background-color: #ffffff;
}

#beforeGame {
	color: #23d10f;
	margin: 6px;
	padding: 8px;
	border: 4px solid #23d10f;
	border-radius: 5px;
	background-color: #ffffff;
}
